 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Put some words here about something. Filler text now fd sfsdin fk;das fa fkjfklafklafo nf jdaf jkal fjfkdalk jfdakl jfdklf dlfkad lk. </p>
                </div>
                <div class="col-lg-4">
                    <p>More filler words.  fldsj af dkfl adklfj daklfj adklfj akdljf ak fkajd fadf[ojad</p>
                </div>
            </div>
        </div>
    </section>
