 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <img src="img/bio_pic.jpg" class="img-responsive img-circle" alt="bio picture"/>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row">
                <p><br/></p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Hi, I’m Kate, and baking has been my passion since I was 9 years old. It started when I wanted to send care packages to my older brothers away at college–my mom turned her kitchen over to me to create yummy treats and that was the beginning of my love for baked goods!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                        <p>Despite my passion, life took me on a different career path in education; I have been a teacher and Math Specialist for 17 years. After raising two great kids into adulthood, the desire to continue to explore my love of baking is as strong as ever. Baking has always been a way for me to unwind and is something that brings me great joy. I also have always wanted to run my own business, and thus the idea to open O'Sweet! as a pop-up bakery was born.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                        <p>From classic favorites like chocolate chip cookies–to new and exciting creations such as my signature O’Sweet! Brownut–my hope is for O’Sweet! to help you find that special something to treat your tastebuds!</p>
                </div>
            </div>
                <!-- <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Put some words here about something. Filler text now fd sfsdin fk;das fa fkjfklafklafo nf jdaf jkal fjfkdalk jfdakl jfdklf dlfkad lk. </p>
                </div>
                <div class="col-lg-4">
                    <p>More filler words.  fldsj af dkfl adklfj daklfj adklfj akdljf ak fkajd fadf[ojad</p>
                </div>
            </div> -->
        </div>
    </section>
