
    <section id="menu">
        <div class="container menu-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Menu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="menu-flex-row">
                {% for flav in site.menu %}
                <dl class="row">
                    <dt class="col-sm-12">{{ flav.name }}</dt>
                </dl>
                {% endfor %}
            </div>
        </div>
    </section>